/* App */

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

/* navbar */

.navbar {
    background: var(--black);
    color: var(--brown);
    font-weight: 800;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
    width: 100%;
}

.navbar>.active {
    color: white !important;
}

.navbar>a {
    text-decoration: none;
}

.navbar>a:visited {
    color: currentColor;
}

/* test zone */

.test_zone_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #ab7621;
    width: calc(100% - 20px);
    padding: 10px;
}

.test_zone_container>* {
    padding: 10px;
}

.title {
    background: brown;
    width: max-content;
}

.button {
    background: burlywood;
}

/* board */

.board_container {
    background: burlywood;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8, max-content);
    grid-template-columns: repeat(8, max-content);
    align-content: center;
    justify-content: center;
    place-items: center;
}

/* cell */

.cell {
    padding: 5px;
    width: 20px;
    height: 20px;
}

.active_cell {
    background: rgb(24, 134, 24) !important;
}

.move_cell {
    background: rgb(40, 162, 40) !important;
}

/* matching */

.matching_page {
    width: calc(100% - 40px);
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    background: var(--brown);
    box-shadow: 2px 2px 3px 1.5px rgba(0, 0, 0, 0.6);
}

.find_match {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.find_match > button {
    background: var(--black);
    color: white;
    font-size: 1.25rem;
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.find_match > button::after {
    display: block;
    content: '';
    width: 0%;
    outline: 0px solid white;
    transition: 0.25s;
    transform: translateY(2px);
}

.find_match > button:hover::after {
    /* transform: translateX(-0%);  */
    outline: 1px solid white;
    width: 100%;
}

.find_match > button:hover {
}